*{font-family: 'Open Sans', sans-serif;}
body {
  padding-top: 54px;
      background-color: #eeeeee;
}
ul { padding: 0; margin: 0  }
li { margin: 0; list-style: none;  }



.bg-dark {
    background-color: #1e2424 !important;
}
.main-color {   background-color: #1e2424 !important;  }
.img-center {  margin: 0 auto; text-align: center; display: block; }
.shadow {border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
    .full-card-sec { margin-bottom: 25px;  }
.card-sec .product-img {     height: 240px;
    width: 280px;
    float: left;
    margin-right: 30px;  }


.contact-details { padding: 10px;  }
.contact-details span { font-weight: 600;   color: #8f8c88;  }
.contact-details ul li { margin-bottom: 6px; 
	font-weight:lighter;    }
.checked {
    color: orange;
}
.navbar-nav a { background: #3e3e3e;
    color: #fff;
    width: 150px;
    text-align: center;
    margin-left: 10px;
    border-radius: 3px; }
.text-size-20 { font-size: 20px; background-color: #1e2424;  }
.search-sec .form-control { background-color: #1e2424;  }
.search-sec .half-btn { width: 49%;    background-color: #1e2424 ;  }
.search-sec .full-btn {  width: 100%; margin-top: 10px; background-color: #1e2424 ; }
.search-sec button:hover { background-color: #3e3e3e; }
.search-sec button:hover i { color: #ffa500; }
.edit {background: orange;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inherit;
    text-align: center;
    border-radius: 100px;
    line-height: 30px; }
/*for-responsive-css*/
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

