* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #eeeeee;
}

ul {
    padding: 0;
    margin: 0
}

li {
    margin: 0;
    list-style: none;
}

.bg-dark {
    background-color: #1e2424 !important;
}

.main-color {
    background-color: #1e2424 !important;
}

.img-center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-card-sec {
    margin-bottom: 25px;
    position: relative;
}

.card-sec .product-img {
    height: 140px;
    width: 140px;
    display: block;
    vertical-align: top;
    margin: 0px auto;
    border-radius: 50%;
    background: #464646;
    border: 5px solid #00000038;
}

.card-sec {
    padding: 10px;
    border-radius: 5px;
}

.contact-details {
    padding: 10px;
    display: inline-block;
    overflow-y: scroll;
    height: 212px;
    width: 100%;
}

.contact-details span {
    font-weight: 600;
    color: #8f8c88;
}

.contact-details ul li {
    margin-bottom: 3px;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
}

.contact-details button {
    text-align: center;
    margin: 13px auto;
    display: block;
}

.checked {
    color: orange;
}

.navbar-nav a {
    background: #3e3e3e;
    color: #fff;
    width: 150px;
    text-align: center;
    margin-left: 10px;
    border-radius: 3px;
}

.text-size-20 {
    font-size: 20px;
    background-color: #1e2424;
}

.search-sec .form-control {
    background-color: #1e2424;
}

.search-sec .half-btn {
    width: 49%;
    background-color: #1e2424;
    margin-bottom: 2%;
}

.search-sec .btn {
    font-size: 15px;
}

.search-sec .full-btn {
    width: 100%;
    margin-bottom: 2%;
    background-color: #1e2424;
}

.search-sec button:hover {
    background-color: #3e3e3e;
}

.search-sec button:hover i {
    color: #ffa500;
}

.edit {
    background: #ffa500fa;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inherit;
    text-align: center;
    border-radius: 100px;
    line-height: 30px;
    position: absolute;
    top: 12px;
    left: 25px;
    cursor: pointer;
}

.edit:hover {
    color: #000;
}


/* footer { position: fixed; bottom: 0; width: 100%;   }*/

.min-height-700 {
    min-height: 700px;
}


/*log-in-page-css*/

.login-block {
    background: #7b7b7b;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #fdfdfd, #cacaca);
    float: left;
    width: 100%;
    padding: 84px 0;
}

.banner-sec {
    background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.login-box {
    background: #1e2424;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 10px 15px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #E36262;
}

.login-sec h2 {
    margin-bottom: 10px;
    font-size: 19px;
    color: #ffffff;
    text-align: center;
}

.login-sec h2:after {
    content: " ";
    width: 92%;
    height: 2px;
    background: #58585840;
    display: block;
    margin-top: 9px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.btn-login {
    background: #f8a620;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.login-sec p {
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding-top: 12px;
}

.login-sec ul {
    padding-top: 12px;
}

.login-sec ul li {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.facebook-login {
    background: #4867aa;
    color: #fff;
    width: 100%;
    border: none;
    margin-top: 12px;
}


/*post-page*/

#LoginForm {
    background: #7b7b7b;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #fdfdfd, #cacaca);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}

.panel h2 {
    color: #faa71d;
    font-size: 26px;
    margin: 0 0 8px 0;
}

.panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #1e2424 none repeat scroll 0 0;
    border: 1px solid #636363;
    border-radius: 4px;
    font-size: 14px;
    height: 41px;
    line-height: 50px;
    color: #fff;
}

.main-div {
    background: #1e2424;
    border-radius: 5px;
    margin: 10px auto 30px;
    max-width: 46%;
    padding: 10px 15px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    background: #3e4242 none repeat scroll 0 0;
    border-color: #4f5050;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 36px;
    padding: 0;
    transition: all .40s ease;
}

.login-form .btn.btn-primary:hover {
    background: #292929 none repeat scroll 0 0;
    transition: all .40s ease-out;
}

.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

.login-form .btn.btn-primary.reset {
    background: #ff9900 none repeat scroll 0 0;
}

.back {
    text-align: left;
    margin-top: 10px;
}

.back a {
    color: #444444;
    font-size: 13px;
    text-decoration: none;
}

.main-div label {
    color: #ffffff;
}

.card-outline-secondary {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* width */

.card-outline-secondary::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.card-outline-secondary::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}


/* Handle */

.card-outline-secondary::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}


/* Handle on hover */

.card-outline-secondary::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
}


/*for-responsive-css*/


/* width */

.contact-details::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}


/* Track */

.contact-details::-webkit-scrollbar-track {
    background: #ffc107;
    border-radius: 20px;
}


/* Handle */

.contact-details::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 20px;
}


/* Handle on hover */

.contact-details::-webkit-scrollbar-thumb:hover {
    background: #ffc107;
    border-radius: 20px;
}

.btn-chat {
    background: #ffa500fa;
    border-radius: 50px 50px 50px 0;
    color: #fff;
    font-size: 11px;
    text-align: left;
    margin: 0;
    display: inline-block;
}

.login-block .nav-link {
    background: #1e2424;
    color: #fff;
    position: absolute;
    border-radius: 0 10px 10px 0;
    padding-left: 3px;
    transition: all .40s ease-out;
}

.login-block .nav-link:hover {
    padding-left: 27px;
    transition: all .40s ease;
    color: #fba71c;
}

.infobox {
    background: #1e2424 !important;
    padding: 10px;
    border-radius: 10px;
}

.infobox ul li h2 {
    font-size: 11px;
    color: #ffff;
}

.infobox ul li h2 span {
    font-weight: bold;
    color: #fba71c;
}

.infobox img {
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 100px;
    widows: 100px;
}

.infobox button {
    color: #fff;
    background-color: #e67e22;
    border-color: #e67e22;
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100px;
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
}

.infobox button:hover {
    background-color: #3e3e3e;
}

.popup-model-barter {}

.mat-dialog-container {
    background: #1e2424;
    color: #fff;
}

.over-lap-form {
    background: #1e2424;
    border: none;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.9);
}

.conversation-pop h2 {
    font-weight: 400;
    color: #fba71c;
    font-size: 12px;
}

.mat-dialog-container .post img {
    height: 140px;
    width: 140px;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    border-radius: 50%;
    background: #464646;
    border: 5px solid #00000038;
}

.sub-head-line h4 {
    font-size: 16px;
    line-height: 32px;
}

.mat-dialog-container .head-line {
    font-weight: 400;
    color: #fba71c;
}

.mat-dialog-container .delete-btn {
    background: #585858;
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
}

.mat-dialog-container .sub-head-line {
    font-weight: 200;
    color: #fba71c;
}

.mat-dialog-container img {
    height: 100%;
    width: 200px;
}

.conversation-chat h2 {
    font-weight: 400;
    font-size: 14px;
    color: #fba71c;
}

.conversation-chat h2 span {
    font-weight: 400;
    color: #fff;
}

.conversation-chat textarea {
    height: 60px;
}

.conversation-chat {
    text-align: center;
}

.conversation-chat .messages p span {
    font-size: 10px;
    color: #fff;
}

.popup-model-barter p {
    margin-bottom: 0px;
}

.popup-model-barter ng-select {
    padding-left: 0;
}


/*for-responsive-css*/